/*

--------    Color Palette   --------

Light:  #E6E7EC
Purple: #453566
Dark:   #22292F
Pink:   #A64F8B
Gray:   #8F9CAF



*/
/*
    Swirl Background
*/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

/*
    Animations Declaration

*/
@-webkit-keyframes scroller {
  from {
    -webkit-transform: translateY();
            transform: translateY();
    overflow-y: hidden;
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    overflow-y: hidden;
  }
}
@keyframes scroller {
  from {
    -webkit-transform: translateY();
            transform: translateY();
    overflow-y: hidden;
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    overflow-y: hidden;
  }
}

@-webkit-keyframes hovering {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hovering {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hover-animation {
  -webkit-animation: hovering 2s 1;
          animation: hovering 2s 1;
}

@-webkit-keyframes floatUp {
  from {
    opacity: 0;
    position: relative;
    top: 50px;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@keyframes floatUp {
  from {
    opacity: 0;
    position: relative;
    top: 50px;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@-webkit-keyframes typeBlink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typeBlink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 32em;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 32em;
  }
}

.underline {
  margin-top: 1.5em;
  width: 32em;
  height: 10px;
  background-color: #B8A2DC;
  -webkit-animation: underline 2.5s 1;
          animation: underline 2.5s 1;
}

@-webkit-keyframes slideUp {
  from {
    position: relative;
    bottom: -50px;
    overflow: hidden;
  }
  to {
    position: relative;
    bottom: 0;
    overflow: hidden;
  }
}

@keyframes slideUp {
  from {
    position: relative;
    bottom: -50px;
    overflow: hidden;
  }
  to {
    position: relative;
    bottom: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #453566, 2px 2px #453566, 3px 3px #453566, 4px 4px #453566, 5px 5px #453566, 6px 6px #453566, 7px 7px #453566, 8px 8px #453566;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566, 0 0 #453566;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #453566, 2px 2px #453566, 3px 3px #453566, 4px 4px #453566, 5px 5px #453566, 6px 6px #453566, 7px 7px #453566, 8px 8px #453566;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*
    Fonts
*/
@font-face {
  font-family: Roobert;
  src: url("../fonts/RoobertRegular.woff") format("woff"), url("../fonts/RoobertRegular.woff2") format("woff2"), url("../fonts/RoobertRegular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: Roobert Light;
  src: url("../fonts/RoobertLight.woff") format("woff"), url("../fonts/RoobertLight.woff2") format("woff2"), url("../fonts/RoobertLight.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/*
    ------------------------------------Tags------------------------------------
*/
html, body {
  font-family: 'Roobert', sans-serif;
  margin: 0;
  padding: 0;
  color: #22292F;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  /*background-image: url("https://source.unsplash.com/1000x1000/?nature,water");*/
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: 'Roobert', sans-serif;
}

h2 {
  font-size: 30px;
  font-family: monospace;
}

h3 {
  color: #22292F;
  font-size: 50px;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  list-style-type: none;
}

p {
  color: #E6E7EC;
}

h2 + p {
  font-style: italic;
  color: #9772db;
  font-size: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22292F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #453566;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6A578C;
}

/*
    Navigation
*/
button {
  outline: none;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Roobert;
  font-size: 2em;
  margin-right: 2%;
}

nav ul li {
  margin-right: 50px;
  margin-top: 20px;
  text-align: right;
  text-shadow: 0.08em 0.08em #453566;
}

nav ul li a {
  color: #E6E7EC;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

nav ul li a:hover::before {
  color: #E6E7EC;
  content: '|';
  position: absolute;
  right: -0.3em;
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
}

nav ul li a:hover {
  color: #E6E7EC;
}

/*
    
*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items {
  color: azure;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
}

.grid-container {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[5];
      grid-template-columns: repeat(5, 0.5fr);
  gap: 10px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.page-content-container {
  background-color: rgba(106, 87, 140, 0.1);
  background-image: url();
  padding: 50px;
}

.page-content-container p {
  font-size: 30px;
  -webkit-animation-name: floatUp;
          animation-name: floatUp;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-heading {
  color: #E6E7EC;
  font-size: 50px;
  text-shadow: 0.08em 0.08em #453566;
  margin: 0;
}

.page-heading + p {
  color: #22292F;
  font-size: 1em;
  margin-top: 0;
}

.hero-container {
  height: 75vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-heading {
  color: #E6E7EC;
  text-shadow: 5px 5px #453566;
  margin-bottom: 0;
  -webkit-animation-name: floatUp;
          animation-name: floatUp;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.hero-subheader {
  font-family: monospace;
  font-size: 30px;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, p::-moz-selection, a::-moz-selection, li::-moz-selection, em::-moz-selection, span::-moz-selection, img::-moz-selection, b::-moz-selection {
  background-color: #A64F8B;
}

h1::selection, h2::selection, h3::selection, p::selection, a::selection, li::selection, em::selection, span::selection, img::selection, b::selection {
  background-color: #A64F8B;
}

.blinker {
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
}

.typer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: auto;
  overflow-y: hidden;
}

.hero-wrapper .cta-btn {
  width: 12rem;
  height: 4rem;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  background: linear-gradient(-225deg, #E6E7EC 0%, #9772db 53%, #453566 100%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.hero-wrapper .cta-btn:hover {
  background-color: #E6E7EC;
  color: #22292F;
  opacity: 1;
  background-position: right bottom;
}

/*
    ------------------------------------Slider------------------------------------
*/
.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.slider-container li {
  -webkit-filter: drop-shadow(1);
          filter: drop-shadow(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  text-align: left;
}

.slider-container li img {
  width: 45em;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-container li .slider-caption {
  position: absolute;
  z-index: 5;
  padding-left: 3%;
  padding-bottom: 1em;
}

.slider-container li .slider-caption p {
  font-size: 3.5em;
  color: #E6E7EC;
  text-shadow: 1px 1px #453566, 2px 2px #453566, 3px 3px #453566, 4px 4px #453566, 5px 5px #453566, 6px 6px #453566, 7px 7px #453566, 8px 8px #453566;
  margin-bottom: 0.2em;
}

.slider-container li .slider-caption p a {
  color: #E6E7EC;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-container li .slider-caption p a:hover {
  color: #907CB3;
}

.slider-container li .slider-caption span {
  font-size: 1.5em;
  color: #B8A2DC;
}

.slider-container li .slider-caption span a {
  color: #E6E7EC;
}

.slider-container:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, #453566 100%);
  opacity: 0.8;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 77%;
}

.slider-nav {
  position: relative;
  z-index: 60;
  width: 3em;
  bottom: 5em;
  left: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.slider-nav:hover {
  -webkit-filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(20px 0px #E6E7EC);
          filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(20px 0px #E6E7EC);
}

/*
    ------------------------------------Company Classes------------------------------------
*/
.companies-wrapper {
  width: 100%;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-item {
  text-align: center;
  margin-right: 10rem;
}

.company-title {
  color: #E6E7EC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.company-title:hover {
  color: #9772db;
}

/*
------------------------------------Footer------------------------------------
*/
footer {
  font-family: Roobert Light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  /*top: 90vh;*/
  width: 100%;
}

/*
    ------------------------------------Menu Expand------------------------------------
*/
.nav-expand {
  visibility: hidden;
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-225deg, #9772db 0%, #453566 100%);
  opacity: 0.999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-expand ul {
  text-align: center;
  position: relative;
}

.nav-expand ul li {
  font-size: 6em;
}

.nav-expand ul li a {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  color: #453566;
  position: relative;
}

.nav-expand ul li a:hover {
  color: #E6E7EC;
}

.nav-expand ul li a:hover::before {
  color: #E6E7EC;
  content: '|';
  position: absolute;
  right: -0.3em;
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
}

.nav-expand ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 0.2em solid #B8A2DC;
  z-index: -1;
}

#navicon {
  z-index: 19999;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  height: 2em;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding-bottom: 2em;
}

.fix-pos {
  position: fixed;
}

/*

------------------------------------About Page------------------------------------

*/
.scroll-up {
  -webkit-filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%);
          filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%);
  position: fixed;
  z-index: 50;
  bottom: 2em;
  right: 3em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scroll-up:hover {
  -webkit-filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(0px 20px #E6E7EC);
          filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(0px 20px #E6E7EC);
}

.about-header {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-header .hero-heading {
  text-align: center;
  margin-top: 0;
}

.about-header h2 {
  color: #E6E7EC;
}

.about-header span {
  position: relative;
  margin-top: 10%;
  font-size: 30px;
  color: #E6E7EC;
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
  /*animation: scroller 1s infinite;*/
  height: 30px;
}

.about-header .icons-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.about-header .icons-nav a img {
  max-width: 50px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-header .icons-nav a img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.popout-anim {
  -webkit-animation: text-shadow-pop-br 0.8s both;
  animation: text-shadow-pop-br 0.8s both;
}

.story-part {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 140vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0%;
}

.story-part .story-text {
  width: 90%;
  font-size: 4em;
  text-align: left;
  margin-left: 5%;
  z-index: 5;
}

.story-part .story-text em {
  -webkit-animation: text-shadow-pop-br 0.8s both;
  animation: text-shadow-pop-br 0.8s both;
}

.story-part .story-text:first-of-type {
  font-size: 6em;
}

.story-part .story-text-recap {
  width: 85%;
  font-size: 4em;
  text-align: left;
  margin-left: 5%;
  z-index: 5;
}

.story-part .story-text-recap em {
  -webkit-animation: text-shadow-pop-br 0.8s both;
  animation: text-shadow-pop-br 0.8s both;
}

.story-part .story-pic {
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 30%;
  height: 30%;
  opacity: 1;
}

.particle-overlay {
  height: 140%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: 3;
}

.story-overlay-bottom {
  height: 140%;
  width: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(95%, black));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 95%);
  z-index: 2;
}

.story-overlay-top {
  height: 140%;
  width: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(99%, black));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 99%);
  z-index: 2;
}

/*

    ------------------------------------Contact Page------------------------------------

*/
.contact-container {
  height: 75vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-wrapper {
  background-color: rgba(144, 124, 179, 0.1);
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
}

.contact-container .contact-wrapper .page-heading {
  -webkit-animation: text-shadow-pop-br 0.8s both;
  animation: text-shadow-pop-br 0.8s both;
}

.contact-container .contact-wrapper h2 {
  color: #B8A2DC;
  margin-left: 10%;
  position: relative;
}

.contact-container .contact-wrapper h2 a {
  color: #8B4677;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.contact-container .contact-wrapper h2 a:hover {
  color: #A64F8B;
}

.contact-container .contact-wrapper h2 a:hover::before {
  color: #A64F8B;
  content: '|';
  position: absolute;
  right: -0.5em;
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
}

/*

    ------------------------------------Case Study Page------------------------------------

*/
.cs-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-container .cs-wrapper {
  padding: 50px;
  background-color: rgba(144, 124, 179, 0.1);
  width: 80%;
  height: 80%;
}

.cs-container .cs-wrapper .page-heading {
  font-size: 6em;
  -webkit-animation: text-shadow-pop-br 0.8s both;
  animation: text-shadow-pop-br 0.8s both;
}

.cs-container .cs-wrapper .page-heading + span {
  font-size: 1.5em;
  color: #9772db;
}

.cs-container .cs-wrapper h2 {
  color: #B8A2DC;
  font-size: 3em;
  position: relative;
  font-family: Roobert;
}

.cs-container .cs-wrapper h2 a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cs-container .cs-wrapper h2 a:hover {
  color: #A64F8B;
}

.cs-container .cs-wrapper h2 a:hover::before {
  color: #A64F8B;
  content: '|';
  position: absolute;
  right: -0.5em;
  -webkit-animation-name: typeBlink;
          animation-name: typeBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: none;
}

.cs-container .cs-wrapper ul li {
  color: #E6E7EC;
  font-size: 2em;
}

.cs-container .cs-wrapper h3 {
  text-align: center;
  color: #E6E7EC;
  font-size: 2.5em;
}

.cs-container .cs-wrapper .color-scheme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cs-container .cs-wrapper .color-scheme-container li p {
  font-family: monospace;
  font-size: 1em;
}

.cs-container .cs-wrapper .color-scheme-container li .color-palette {
  background-color: #234099;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.cs-container .cs-wrapper .mockups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.cs-container .cs-wrapper .mockups .alt-mockup {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cs-container .cs-wrapper .mockups .main-mockup {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5%;
}

.cs-container .cs-wrapper .mockups .main-mockup:after {
  content: "";
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, #453566 100%);
  opacity: 0.8;
}

/*
/*
    ------------------------------------MEDIA QUERIES------------------------------------
*/
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  a {
    font-size: 50px;
  }
  .hero-heading {
    font-size: 11em;
  }
  .page-heading {
    font-size: 40px;
  }
  h2.hero-heading {
    font-size: 80px;
  }
  .hero-subheader {
    font-size: 30px;
  }
  li.company-item {
    font-size: 100px;
  }
  .hero-container {
    height: 86vh;
  }
  .hero-container .hero-wrapper {
    height: 80%;
  }
  .hero-container .hero-wrapper .cta-btn {
    width: 7em;
    padding: 30px;
    margin-top: 80px;
  }
  .hero-container .hero-wrapper .slider-wrapper .slider-nav {
    bottom: 8em;
    left: 90%;
    width: 5em;
  }
  .hero-container .hero-wrapper .slider-wrapper .slider-container {
    width: 100%;
  }
  .hero-container .hero-wrapper .slider-wrapper .slider-container li img {
    width: 100%;
    height: 60em;
  }
  .hero-container .hero-wrapper .slider-wrapper .slider-container li .slider-caption p a {
    font-size: 1.8em;
  }
  .hero-container .hero-wrapper .slider-wrapper .slider-container li .slider-caption span a {
    font-size: 2em;
  }
  /*  About Page  */
  .about-header {
    height: 100vh;
  }
  .about-header .hero-heading {
    font-size: 15em;
  }
  .about-header h2 {
    font-size: 3em;
  }
  .about-header span {
    font-size: 30px;
  }
  .about-header .icons-nav {
    width: 70%;
    height: 200px;
  }
  .about-header .icons-nav a img {
    max-width: 150px;
  }
  .scroll-up {
    width: 3em;
    right: 1em;
    bottom: 1em;
  }
  .scroll-up:hover {
    -webkit-filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(0px 0.9em #E6E7EC);
            filter: invert(17%) sepia(33%) saturate(1156%) hue-rotate(218deg) brightness(101%) contrast(84%) drop-shadow(0px 0.9em #E6E7EC);
  }
  /*   Nav Expand Menu   */
  .nav-expand ul li {
    margin-bottom: 10%;
  }
  .nav-expand ul li a {
    font-size: 180px;
  }
  /*  Footer  */
  footer section p {
    font-size: 30px;
  }
  #navicon {
    padding-bottom: 0.5em;
  }
  /*     CONTACT      */
  .contact-container .contact-wrapper .page-heading {
    font-size: 150px;
  }
  .contact-container .contact-wrapper h2 {
    font-size: 75px;
    margin-left: 0;
  }
  .contact-container .contact-wrapper h2 a {
    font-size: 75px;
  }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  h1.hero-heading {
    font-size: 200px;
  }
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
  h1.hero-heading {
    font-size: 150px;
  }
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
  h1.hero-heading {
    font-size: 150px;
  }
}
/*# sourceMappingURL=style.css.map */